<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"
       xmlns:context="http://www.springframework.org/schema/context">
    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.angrysurfer.mildred"/>
    <bean id="cubaDataSource_admin"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_admin"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_admin"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/admin-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_admin"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_admin"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_admin"/>
        <property name="dataSource"
                  ref="cubaDataSource_admin"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="admin"/>
    </bean>
    <bean id="cubaDataSource_analysis"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_analysis"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_analysis"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/analysis-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_analysis"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_analysis"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_analysis"/>
        <property name="dataSource"
                  ref="cubaDataSource_analysis"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="analysis"/>
    </bean>
    <bean id="cubaDataSource_elastic"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_elastic"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_elastic"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/elastic-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_elastic"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_elastic"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_elastic"/>
        <property name="dataSource"
                  ref="cubaDataSource_elastic"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="elastic"/>
    </bean>
    <bean id="cubaDataSource_media"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_media"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_media"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/media-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_media"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_media"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_media"/>
        <property name="dataSource"
                  ref="cubaDataSource_media"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="media"/>
    </bean>
    <bean id="cubaDataSource_service"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_service"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_service"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/service-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_service"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_service"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_service"/>
        <property name="dataSource"
                  ref="cubaDataSource_service"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="service"/>
    </bean>
    <bean id="cubaDataSource_suggestion"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_suggestion"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_suggestion"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/suggestion-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_suggestion"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_suggestion"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_suggestion"/>
        <property name="dataSource"
                  ref="cubaDataSource_suggestion"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="suggestion"/>
    </bean>
</beans>
